# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
*.log

# firebase emulators
.firebase/
emulator-data/

# firebase service account
*-service-account.json
service-account.json

# PocketBase
pb/data/
pb/pb_data/
pb/pocketbase.exe
pb/pocketbase_*.exe.bak
pb/pocketbase_*.zip
pb/backups/
pb/CHANGELOG.md
pb/LICENSE.md
pb_migrations/
pocketbase
*.zip
*.bak

.vercel
